.base{
    padding-left: 6.7%;
    padding-right: 6.7%;
    margin-top: 80px;
    padding-top: 100px;
    margin-bottom: 200px;
    .procurar{
        padding-top: 10px;
        display: flex;
        justify-content: center;
        .formControl{
            display: flex;
            align-items: center;
            width: 1332px;
            background-color: #F1F1F1;
            padding: 0px 21px 0px 21px;
            border-radius: 8px;
            height: 72px;
            img{
                width: 30px;
                height: 31px;
            }
            .form{
                background-color: #F1F1F1;
                width: 85%; 
                margin-left: 12px;
                border: none;
                padding: 10px;
                outline: none;
            }
            
        }
    }
    .fitas{
        margin-top: 135px;
       
        .titulo{
            padding-left: 10px;
            h4{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 44px;
                letter-spacing: 0.02em;
                color: #000000;
            }
        }
        .middle{
            margin-bottom: 50px;
        }
        .control-fita{
            margin-top: 40px;
            padding-left: 10px;
            h5{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 44px;
                letter-spacing: 0.02em;
                color: #000000;
            }
        }
        .basecontrol{
            height: 217px;
            .cartas{
                background-image: url(../../../assets/img/Rectangle32.png), url(../../../assets/img/base_Preto.png);
                background-blend-mode: multiply;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 217px;
                img{
                    height: 30px;
                    width: 30px;
                }
            }
            h4{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                color: #000000;
                text-align: left;
                margin-top: 8px;
            }
        }
    }
}
@media (max-width:764px) {
    .base{
        padding-left: 2.7% !important;
        padding-right: 2.7% !important;
        margin-top: 80px;
        padding-top: 100px;
        .procurar{
            padding-top: 10px;
            display: flex;
            justify-content: center;
            .formControl{
                width: 100% !important;
                background-color: #F1F1F1;
                padding: 14px 21px 14px 21px;
                border-radius: 8px;
                img{
                    width: 25px;
                    height: 25px;
                }
                .form{
                    background-color: #F1F1F1;
                    width: 80% !important; 
                    margin-left: 12px;
                    border: none;
                    padding: 10px;
                    outline: none;
                }
                
            }
        }
        .fitas{
            margin-top: 60px !important;
           
            .titulo{
                padding-left: 10px;
                h4{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 26px !important;
                    line-height: 44px;
                    letter-spacing: 0.02em;
                    color: #000000;
                }
            }
            .middle{
                margin-bottom: 50px;
            }
            .control-fita{
                margin-top: 40px;
                padding-left: 10px;
                h5{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 44px;
                    letter-spacing: 0.02em;
                    color: #000000;
                }
            }
            .controlss{
                margin-bottom: 50px;
                .basecontrol{
                    height: 217px;
                    .cartas{
                        background-image: url(../../../assets/img/Rectangle32.png), url(../../../assets/img/base_Preto.png);
                        background-blend-mode: multiply;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 217px;
                        img{
                            height: 30px;
                            width: 30px;
                        }
                    }
                    h4{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 30px;
                        text-align: center;
                        color: #000000;
                        text-align: left;
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}