<div class="page-fonte">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lx-5 font-img">
      <h4 id="financa">A Fonte de Financiamento</h4>
      <div class="img"><img src="./assets/img/barra.png" alt=""></div>
    </div>
    <div class="col-sm-12 col-md-7 col-lx-7 font-descricao">
      <div class="conteudo">
        <p class="sub">
          Ação financiada pela União Europeia. Ação gerida e cofinanciada pelo Camões, IP. O projeto Thambwé conta com apoios da Embaixada de Espanha em Angola e Open Earth Foundation.
        </p>
        <p class="pag">
          Esta página foi criada com o apoio financeiro da União Europeia. O seu conteúdo é da exclusiva responsabilidade dos seus autores e não reflete necessariamente a posição da União Europeia.
        </p>
        <p class="pag">
          Esta página foi criada com apoio financeiro do Camões, I.P. O seu conteúdo é da exclusiva responsabilidade dos seus autores. Nem o Camões, I.P, nem qualquer pessoa agindo em seu nome é responsável pela utilização que possa ser dada às informações desta publicação. O seu conteúdo não implica a expressão de opinião do Camões, I.P ou do Ministério dos Negócios Estrangeiros de Portugal. A referência a ações, produtos ou serviços específicos não implica que estes sejam apoiados ou recomendados pelo Camões, I.P. ou que lhes seja atribuída qualquer preferência relativamente a outros não mencionados.</p>
      </div>
    </div>
  </div>
</div>




<!-- <div class="base">
  <div class="container-xxl">
    <div class="row flex-clean">
      <div class="col-12 col-md-5 col-lg-5 conta">
          <div class="titulo">
            <div>
              <h4>A Fonte de Financiamento</h4>
              <div class="barra">
                <img src="./assets/img/barra.png" alt="">
              </div>
            </div>
          </div>
      </div>
      <div class="col-12 col-md-7 col-lg-7 cont">
        <div class="conteudo">
          <p class="sub">
            Ação financiada pela União Europeia. Ação gerida e cofinanciada pelo Camões, IP. O projeto Thambwé conta com apoios da Embaixada de Espanha em Angola e Open Earth Foundation.
          </p>
          <p class="pag">
            Esta página foi criada com o apoio financeiro da União Europeia. O seu conteúdo é da exclusiva responsabilidade dos seus autores e não reflete necessariamente a posição da União Europeia.
          </p>
          <p class="pag">
            Esta página foi criada com apoio financeiro do Camões, I.P. O seu conteúdo é da exclusiva responsabilidade dos seus autores. Nem o Camões, I.P, nem qualquer pessoa agindo em seu nome é responsável pela utilização que possa ser dada às informações desta publicação. O seu conteúdo não implica a expressão de opinião do Camões, I.P ou do Ministério dos Negócios Estrangeiros de Portugal. A referência a ações, produtos ou serviços específicos não implica que estes sejam apoiados ou recomendados pelo Camões, I.P. ou que lhes seja atribuída qualquer preferência relativamente a outros não mencionados.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
