<div class="base">
  <div class="container-fluid titulos">
    <h4>Projeto Thambwé</h4>
    <p>
      Tambwé: Recuperação, Valorização e Divulgação do Património Musical Cokwe <br>
      (PROC20-143) é um projeto do Museu Regional do Dundo, Lunda-Norte, Angola. Os três<br>
      pilares que o definem são: a recuperação, a transmissão e a divulgação da cultura<br>
      musical cokwe, uma das tradições mais profundas e ricas de todo o pais. As atividades<br>
      realizadas através do projeto são: <br>
      - A digitalização e recuperação do fundo fonográfico do Museu Regional do Dundo; <br>
      - A pesquisa nas aldeias da região; <br>
      - A transmissão desta cultura musical através de aulas no Museu Regional do Dundo; <br>
      - A divulgação do património musical cokwe.
    </p>
  </div>
  <div class="img-thambwe">
    <iframe src="https://www.youtube.com/embed/-6Q1qI8pAzc" style="width: 100%; height: 100%; border-radius: 20px;" frameborder="0">
    </iframe>
  </div>
</div>
