<div class="base">
  <div class="titulos">
    <h4>Projeto Thambwé</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
    </p>
  </div>
  <div class="img-thambwe">
   <div class="descricoa">
      <h4>Apresentação do Projecto Thambwé</h4>
   </div>
   <div class="icones">
      <a href="">
        <img src="../../../../assets/img/play.png" alt="" class="img-fluid">
      </a>
   </div>
  </div>
</div>
