<div class="base">
  <div class="container-xxl">
    <div class="tituTop">
      <h4>Projeto Thambwé</h4>
    </div>
    <div class="titulos">
      <p>
        Tambwé: Recuperação, Valorização e Divulgação do Património Musical Cokwe
        (PROC20-143) é um projeto do Museu Regional do Dundo, Lunda-Norte, Angola. Os três
        pilares que o definem são: a recuperação, a transmissão e a divulgação da cultura
        musical cokwe, uma das tradições mais profundas e ricas de todo o pais. As atividades
        realizadas através do projeto são: <br>
          <span>.</span> A digitalização e recuperação do fundo fonográfico do Museu Regional do Dundo; <br>
          <span>.</span> A pesquisa nas aldeias da região; <br>
          <span>.</span> A transmissão desta cultura musical através de aulas no Museu Regional do Dundo; <br>
          <span>.</span> A divulgação do património musical cokwe.
      </p>
    </div>
    <div class="img-thambwe">
      <iframe src="https://www.youtube.com/embed/-6Q1qI8pAzc" style="width: 100%; height: 100%; border-radius: 20px;" frameborder="0">
      </iframe>
    </div>
  </div>
</div>
