<div class="base">
  <div class="container-xxl">
    <div class="row ">
      <div class="col-12 col-md-5 col-lg-5 conta">
          <div class="titulo">
            <div>
              <div class="museu">
                <img src="../../../../assets/img/museu.png" alt="">
              </div>
              <h4>Museu Regional do Dundo</h4>
              <div class="barra">
                <img src="../../../../assets/img/barra.png" alt="">
              </div>
              <div class="textoExtra">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
            </div>
          </div>
      </div>
      <div class="col-12 col-md-7 col-lg-7">
        <div class="conteudo">
         <div class="lado1">

         </div>
         <div class="lado2">

         </div>
        </div>
      </div>
    </div>
  </div>
</div>
