<div class="base">
  <div class="container-xxl">
    <div class="row ">
      <div class="col-12 col-md-5 col-lg-5 conta">
          <div class="titulo">
            <div>
              <div class="museu">
                <img src="../../../../assets/img/museu.png" alt="">
              </div>
              <h4>Museu Regional do Dundo</h4>
              <div class="barra">
                <img src="../../../../assets/img/barra.png" alt="">
              </div>
              <div class="textoExtra">
                <p>
                O Museu Regional do Dundo, tutelado pelo Ministério da Cultura e Turismo, está localizado na Cidade do Dundo, Província da Lunda-Norte, Angola. Foi criado em 1936 pela então Companhia de Diamantes de Angola, DIAMANG, a partir da colecção particular de José Redinha um então Assistente Administrativo colocado no Posto de Chitato, conhecido por fazer retratos de “indivíduos nativos” e colecionar objectos dos povos da região. Inicialmente foi designado como “Museu Gentílico” e, deste facto, foi o primeiro Museu criado em Angola naquela época.
              </p>
              </div>
            </div>
          </div>
      </div>
      <div class="col-12 col-md-7 col-lg-7">
        <div class="conteudo">

          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>                  
              <div class="lado1">

              </div>
            </ng-template>   

            <ng-template carouselSlide> <div class="lado2"></div> </ng-template>
        </owl-carousel-o>
    </div>
      </div>
    </div>
  </div>
</div>
