<div class="base">
    <div class="titulos">
        <h4>
            Conheça alguns músicos e artesãos da região
        </h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-3 cawey" *ngFor="let item of [1,2,3,4]">
                <div class="cartao">
                    <div class="text-center">
                        <img src="../../../../assets/img/ocara.png" alt="">
                        <h4>José Músico Cokwe</h4>
                    </div>
                    <div class="conteudo">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>