<div class="base">
    <div class="container-xxl">
        <div class="titulos">
            <h4>
                Conheça alguns músicos e artesãos da região
            </h4>
            <p>Com o objetivo de dar visibilidade a músicos e artesãos da região apresentamos a alguns
                dos artistas com que trabalha o projeto Thambwé</p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-2 col-lg-2 cawey" *ngFor="let item of [1,2,3,4,5,6]">
                    <div class="cartao">
                        <div class="text-center">
                            <img src="../../../../assets/img/ocara.png" alt="">
                            <h4>José Músico Cokwe</h4>
                        </div>
                        <div class="conteudo">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>