<div class="base">
    <div class="titulos">
        <h4>
            Introdução às Músicas Cokwe
        </h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <div class="cards">
        <div class="cards-master" *ngFor="let item of [1,2,3,4,5,6]">
            <div class="cartao">
                <img src="../../../../assets/img/play.png" alt="">
            </div>
            <h4>Cokwe Music</h4>
        </div>
    </div>
    <div class="botao">
        <a href="#">Ver Todas</a>
    </div>
</div>