<div class="base">
    <div class="container-xxl">
        <div class="titulos">
            <h4>
                Introdução às Músicas Cokwe
            </h4>
            <p>
                Em 1961 e 1967 a Diamang (antiga empresa diamantífera) realizou duas publicações1
                sobre a música cokwe da região das Lundas. Estas duas publicações tinham associadas
                11 fitas magnetofónicas com gravações desta rica tradição musical. Com o objetivo de
                divulgar e dar a conhecer este património apresentamos este acervo musical
                recuperado pelo projeto Thambwé.
            </p>
        </div>
        <div class="row">

            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let item of musicas.slice(0, 6)">
                    <div class="col-12 col-md-9 col-lg-9 cards-master" (click)="playAudio(item)">
                        <div>
                            <div class="cartao" [class.cartao-active]="playing?.id == item.id && !paused"
                                style="background-image: url('../../../assets/img/musicas.jpeg'), url(../../../../assets/img/base_Preto.png);  ">
                                <img src="{{'../../../../assets/img/' + (playing?.id == item.id && !paused? 'pause.png' : 'play.png')  }}"
                                    alt="">
                            </div>
                            <h4>{{item.titulo}}</h4>
                        </div>
                    </div>
                </ng-template>   
              </owl-carousel-o>
        </div>
        <div class="botao">
            <a href="/musicas">Ver Todas</a>
        </div>
    </div>
</div>