<div class="base">
    <div class="container-xxl" style="padding-left: 0; padding-right: 0;">
        <div class="titulo">
            <h4>Galeria de Fotos</h4>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-3 col-lg-3 mb-3" *ngFor="let item of imagem">
                    <div class="">
                        <img (click)="open(content)" src="{{url(item.file)}}" alt="{{item.titulo}}" class="img-fluid imgBase">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
  <ngb-carousel #carousel [interval]="5000" >
	<ng-template ngbSlide *ngFor="let img of imagem">
			<div class="picsum-img-wrapper">
				<img (src)="url(img.file)" alt="" class="img-fluig">
			</div>
	</ng-template>
</ngb-carousel>
</ng-template>