.navbar{
  padding: 0 !important;
  .img-log{
    margin-left: 50px;
    img{
      margin-right: 45px;
    }
  }
  .collapse{
    //display: flex;
    //justify-content: end;
    padding-left: 40px;
  }
  .menu-thambwe{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: end;
    padding-top: 20px;

    li{
      margin-left: 30px;
      a{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        color: #000000;
        flex: none;
        order: 5;
        flex-grow: 0;
        text-decoration: none;
      }
    }
  }
}

@media (max-width:764px) {
  .menu-thambwe{
    display: block;
    list-style: none;
    padding-left: 0;
    li{
      margin-top: 15px;
      a{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        color: #000000;
        flex: none;
        order: 5;
        flex-grow: 0;
        text-decoration: none;
      }
    }
  }
}
