  <nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color: #FAFAFA;">
    <div class="container-xxl">
        <div class="img-log">
          <a href="/">
            <img src="../../../assets/img/museu.png" alt="" style="width: 52px; height: 71px;">
          </a>
          <a href="/folclore">
            <img src="../../../assets/img/JRS.png" alt="" style="width: 150px; height: 50px; ">
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarID"
            aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarID">
            <div class="navbar-nav">
                <ul class="menu-thambwe">
                  <li class="active"><a href="#Banner">Thambwé</a></li>
                  <li><a href="#Apresentar">Apresentação</a></li>
                  <li><a href="#Fonte">Financiamento</a></li>
                  <li><a href="#Regional">Múseu</a></li>
                  <li><a href="#Musica">Músicas</a></li>
                  <li><a href="#Video">Vídeos</a></li>
                  <li><a href="#Galeria">Galeria</a></li>
                  <li><a href="#Musico">Músicos</a></li>
                </ul>

            </div>
        </div>
    </div>
</nav>

