  <nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top">
    <div class="container-fluid">
        <div class="img-log">
          <img src="../../../assets/img/museu.png" alt="">
          <img src="../../../assets/img/JRS.png" alt="">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarID"
            aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-5" id="navbarID">
            <div class="navbar-nav">
                <ul class="menu-thambwe">
                  <li><a href="">Thambwé</a></li>
                  <li><a href="">Apresentação</a></li>
                  <li><a href="">Financiamento</a></li>
                  <li><a href="">Múseu</a></li>
                  <li><a href="">Músicas</a></li>
                  <li><a href="">Galeria</a></li>
                  <li><a href="">Músicos</a></li>
                </ul>

            </div>
        </div>
    </div>
</nav>

