<div class="fundo-thambwe">
  <div class="container-xxl">
    <div class="row base">
      <div class="col-12 col-md-4 col-lg-4 ladoImg">
        <img src="../../../../assets/img/logo.png" alt="" class="img-fluid">
      </div>
      <div class="col-12 col-md-8 col-lg-8">
        <div class="texteControl">
          <div>
            <h6> <img src="../../../../assets/img/star.png" alt=""> Projeto Thambwe</h6>
            <h4>Recuperação, Valorização e Divulgação do Património Musical Cokwe</h4>
            <p *ngIf="true">Uma das tradições mais profundas e ricas de todo o País.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="efeito-estranho">
</div>
<div class="logotipos">
  <div class="cantainer-xxl">
    <div class="logo">
      <img class="img-fluid img1" src="../../../../assets/img/image55.png" alt="">
      <img class="img-fluid img2" src="../../../../assets/img/logoMusickool.png" alt="">
    </div>
  </div>
</div>