<div class="container-fluid banner">
  <div class="image-fundo">
     <img src="../../../../assets/img/img-banner.JPG">
  </div>
  <div class="inside-content">
     <div class="img-tambwe">
        <img src="../../../../assets/img/logo.png" alt="">
     </div>
     <div class="textcontrol">
          <h6> <img src="../../../../assets/img/star.png" alt=""> Projeto Thambwe</h6>
          <h4>Recuperação, Valorização e Divulgação do Património Musical Cokwe</h4>
          <p *ngIf="true">Uma das tradições mais profundas e ricas de Angola.</p>
     </div>
  </div>
</div>
<div class="efeito-estranho">

</div>
<div class="parceiros">
  <img src="../../../../assets/img/image55.png" alt="" class="img-fluid">
  <div class="logo-musickool">
       <img src="../../../../assets/img/logoMusickool.png" alt="" class="img-fluid">
  </div>
</div>
