<div class="base">
    <div class="container-xxl">
        <div class="container-fluid">
            <div class="pontos">
                <div class="contacto">
                    <img src="../../../assets/img/logofooter.png" alt="">
                    <p>Recuperação, Valorização e Divulgação do Património Musical Cokwe</p>
                    <div class="icones">
                        <img src="../../../assets/img/facebook.png" alt="" (click)="pagina('facebook')">
                        <img src="../../../assets/img/instagram.png" alt="" (click)="pagina('instagram')">
                        <img src="../../../assets/img/youtube.png" alt="" (click)="pagina('youtube')">
                    </div>
                </div>
                <div class="menu">
                    <h4>Menu</h4>
                    <div class="menuFooter">
                        <ul class="menu-thambwe">
                            <li><a href="#Banner">Thambwé</a></li>
                            <li><a href="#Apresentar">Apresentação</a></li>
                        </ul>
                        <ul class="menu-thambwe">
                            <li><a href="#Fonte">Financiamento</a></li>
                            <li><a href="#Regional">Múseu</a></li>
                        </ul>
                        <ul class="menu-thambwe">
                            <li><a href="#Musica">Músicas</a></li>
                            <li><a href="#Video">Vídeos</a></li>
                        </ul>
                        <ul class="menu-thambwe">
                            <li><a href="#Galeria">Galeria</a></li>
                            <li><a href="#Musico">Músicos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="company text-center">
            <p>
                <span>&copy;</span> Copyright Thambwe. All right reserved | Desenvolvido por <a
                    href="https://musickool.ao/" style="color: black;">Musickool</a>
            </p>
        </div>
    </div>
</div>
