<div class="base">
    <div class="container-xxl">
        <div class="pontos">
            <div class="contacto">
                <img src="../../../assets/img/logofooter.png" alt="">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div class="icones">
                    <img src="../../../assets/img/facebook.png" alt="">
                    <img src="../../../assets/img/twitter.png" alt="">
                    <img src="../../../assets/img/instagram.png" alt="">
                    <img src="../../../assets/img/youtube.png" alt="">
                </div>
            </div>
            <div class="menu">
                <h4>Menu</h4>
                <ul class="menu-thambwe">
                    <li><a href="#Banner">Thambwé</a></li>
                    <li><a href="#Apresentar">Apresentação</a></li>
                    <li><a href="#Fonte">Financiamento</a></li>
                    <li><a href="#Regional">Múseu</a></li>
                    <li><a href="#Musica">Músicas</a></li>
                    <li><a href="#Video">Vídeos</a></li>
                    <li><a href="#Galeria">Galeria</a></li>
                    <li><a href="#Musico">Músicos</a></li>
                </ul>
            </div>
            <div class="parceiro">
                <h4>Parceiros</h4>
                <ul class="menu-thambwe">
                    <li><a href="#">Content Strategy</a></li>
                    <li><a href="#">Content Development</a></li>
                </ul>
            </div>
            <div class="canais">
                <h4>Canais</h4>
                <ul class="menu-thambwe">
                    <li><a href="#"> Site Map</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Notice</a></li>
                </ul>
            </div>
        </div>
        <div class="company text-center">
            <p>
                <span>&copy;</span> Copyright Thambwe. All right reserved
            </p>
        </div>
    </div>
</div>